@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    @apply w-full border-gray-300 rounded-lg 
      focus:border-[#1b1364] focus:ring-[#1b1364];
  }
}

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-[#1b1364] text-white font-semibold rounded-lg shadow-md hover:bg-[#120969] focus:outline-none focus:ring-2 focus:ring-[#0f0376] focus:ring-opacity-75;
  }

  .btn-secondary {
    @apply py-2 px-4  bg-[#dad6ff] text-[#1b1364] font-semibold rounded-lg  hover:bg-[#cdc8f6] focus:outline-none focus:ring-2 focus:ring-[#6c61d6] focus:ring-opacity-75;
  }
  .text-primary {
    @apply text-[#1b1364];
  }

  .text-secondary {
    @apply text-[#f3f1ff];
  }

  .bg-primary {
    @apply bg-[#1b1364];
  }

  .bg-secondary {
    @apply bg-[#f3f1ff];
  }
}

@layer base {
  button,
  select {
    @apply flex items-center justify-center px-3 py-2 border border-transparent text-base font-medium rounded-md bg-gray-50   md:py-2 md:text-lg md:px-2;
  }
}

@layer base {
  th,
  td,
  select {
    @apply border border-gray-200 p-2;
  }
}

/* [type="checkbox"]:checked {
  background-image: url('data:image/svg+xml,<svg viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg"><path d="M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z"/></svg>');
} */

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
}
